<p>Hello,</p>
<p>We received a request to reset your password for <strong>[fast] Farming Community</strong>.</p>
<p><a href="<%= @reset_url %>">Click here to set a new password</a>. The link expires in 60 minutes.</p>
<p>If you didn't request, feel free to ignore this email.</p>
