<div>
    <h1>Welcome to the [fast] Farming Community</h1>

    <p><a href={"https://fast.farming-community.eu/auth/register?email=#{@user.email}&token=#{@user.token}"}>Complete your registration</a> to gain access to exclusive content!</p>

    <p>If you didn't register, feel free to ignore this email.</p>
</div>
